gradient_dark = #373B44
gradient_light = #61B1A9
gradient_text = #FFF
gradient_anchor = #C6C1AE

header_height = 100px
footer_height = 80px

header_color = #3D7F7A
anchor_color = #7B7656

background_color = #FCSFCFC

spacing = 20px

font_sans_serif = 'Montserrat'
font_serif = 'Merriweather'