<footer class="gradient">

  <div>
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
  </div>
  <div>
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> and <a href="https://pages.github.com/" target="_blank">Github Pages</a>
  </div>

</footer>